<template>
	<div>
		<div v-if="items.length > 0">
			<ul>
				<li v-for="item in items" :key="item.id">
					<p>Name: {{ item.name }}</p>
					<p>Quantity: {{ item.quantity }}</p>
					<p>
						<button @click="increase(item.id)">
							Icrease Quantity
						</button>
						<button @click="decrease(item.id)">
							Decrease Quantity
						</button>
					</p>
				</li>
			</ul>
		</div>
		<div v-else>
			<p>
				No items in the cart
			</p>
		</div>
		<h1>Total : {{ total }}</h1>
		<hr>
		<button @click="$router.push('/delivery')" >Place order</button>
	</div>
</template>

<script>
export default {
	middleware:'check-auth',
	data() {
		return {
			items: [],
		};
	},
	created() {
		this.items = this.$store.getters.getCartItems;
	},
	methods: {
		increase(id) {
			this.$store.dispatch("increaseItem", id);
		},
		decrease(id) {
			this.$store.dispatch("decreaseItem", id);
		},
	},
	computed: {
		total() {
			return this.$store.getters.getTotal;
		},
	},
};
</script>
