<template>
	<div>
		<form @submit.prevent="saveDelivery">
			<label for="name">Full name</label>
			<br />
			<input type="text" name="name" id="name" v-model="name" />
			<br />
			<label for="pincode">Pincode</label>
			<br />
			<input
				type="number"
				name="pincode"
				id="pincode"
				v-model="pincode"
			/>
			<br />
			<label for="address">Address</label>
			<br />
			<textarea id="address" v-model="address"></textarea>
			<br />
			<label for="phone">Phone no.</label>
			<br />
			<input type="tel" name="phone" id="phone" v-model="phone" />
			<br />
			<label id="landmark">Land mark</label>
			<br />
			<input
				type="text"
				name="landmark"
				id="landmark"
				v-model="landmark"
			/>
			<br />
			<label id="country">Country</label>
			<br />
			<input type="text" name="country" id="country" v-model="country" />
			<br />
			<button type="submit">Save and continue</button>
		</form>

	</div>
</template>

<script>
export default {
	middleware:'check-auth',
	data() {
		return {
			name: "",
			pincode: "",
			address: "",
			phone: "",
			landmark: "",
			country: "",
		};
	},
	methods:{
		saveDelivery(){
			let details = {
				name:this.name,
				pincode:this.pincode,
				address:this.address,
				phone:this.phone,
				landmark:this.landmark,
				country:this.country
			}

			console.log(details);
			this.$store.dispatch('setDelivery',details)
			this.$router.push('/invoice');
		}
	}
};
</script>

<style scoped>
	div{
		width: 30%;
		margin:  3rem auto;
		text-align: center;
	}
	textarea,input{
		width: 100%;
	}
</style>
