<template>
	<div>
		<form @submit.prevent="onRegister">
		
			<label for="email">Email</label>
			<br>
			<input type="email" id="email" v-model="email">
			<br>
			<label for="password">Password</label>
			<br>
			<input type="password" id="password" v-model="password">
			<br>
			<br>
			<button>Register</button>
		</form>
	</div>
</template>

<script>
	export default{
		data(){
			return{
				email:'',
				password:'',
			}
		},
		methods:{
			onRegister(){
				let user = {
					email:this.email,
					password:this.password
				} 
				console.log('user details for registration: ',user);
			}
		}
	}
</script>

<style scoped>
	div{
		width: 40%;
		margin: 4rem auto;
		text-align: center;
	}
	input{
		width: 70%;
	}
</style>