<template>
	<div>
		<ul>
			<li>
				<nuxt-link to="/">Home</nuxt-link>
			</li>
			<span style="flex: 1 auto;"></span>
			<li v-if="loginState">
				<nuxt-link to="/products">Products</nuxt-link>
			</li>
			<li v-if="loginState">
				<nuxt-link to="/cart">Cart</nuxt-link>
			</li>
			<li v-if="!loginState">
				<nuxt-link to="/signup">Register</nuxt-link>
			</li>
			<li v-if="!loginState">
				<nuxt-link to="/signin">Login</nuxt-link>
			</li>
			<li v-if="loginState">
				<button @click="onLogout">Logout</button>
			</li>
		</ul>
	</div>
</template>

<script>
	import Cookies from 'js-cookie';
	export default{
		computed:{
			loginState(){
				return this.$store.getters.getLoginState;
			}
		},
		methods:{
			onLogout(){
				localStorage.removeItem('token');
				Cookies.remove('token');
				this.$router.push('/signin');
				this.$store.dispatch('setStateHeader');
			}
		}
	}
</script>


<style scoped>
	ul{
		display: flex;
	}
	li{
		list-style: none;
		margin-right: 1rem;
	}
	a{
		text-decoration: none;
		color: red;
	}
	div{
		background-color: #ccc;
		padding: 10px;
		box-shadow:0px 4px 2px #888888;
	}
</style>

