<template>
	<div>
		<h1>All products</h1>
		<ul>
			<li v-for="product in products" :key="product.id">
					<p>
						Name: {{product.name}}
					</p>
					<p>
						Price :{{product.price}}
					</p>
					<p>
						<button @click="addCart(product.id)">Add to Cart</button>
					</p>

			</li>
		</ul>
	</div>
</template>

<script>
	export default{
		middleware:['check-auth'],
		data(){
			return {
				products:[]
			}
		},
		created(){
			this.products = this.$store.getters.getProducts
		},
		methods:{
			addCart(id){
				console.log('product id',id);
				let item = this.products[id-1];
				console.log(item);
				this.$store.dispatch('addItem',item);
			}

		}

	}
</script>