<template>
	<div>
		<h3>View order summary</h3>

		<div class="details">
			<p>Name: {{ deliveryDetails.name }}</p>
			<p>Pincode:{{ deliveryDetails.pincode }}</p>
			<p>Address: {{ deliveryDetails.address }}</p>
			<p>Phone: {{ deliveryDetails.phone }}</p>
			<p>Landmark: {{ deliveryDetails.landmark }}</p>
			<p>Country: {{ deliveryDetails.country }}</p>
		</div>

		<div class="items">
			<ul>
				<li v-for="item in cartItems" :key="item.id">
					Name: {{ item.name }} : {{ item.quantity }}
					{{ item.quantity > 1 ? "items" : "item" }} x Rs{{
						item.price
					}}
				</li>
			</ul>
		</div>
		<span>Total Amount :Rs {{ cartTotal }}.00 only</span>
		<p>
			<!-- <nuxt-link to="/bill" taget="_blank">Generate Bill</nuxt-link> -->
			<a href="/bill" target="_blank">Generate the Bill</a>
		</p>
	</div>
</template>

<script>
	import Cookie from 'js-cookie';
export default {
	middleware: "check-auth",
	data() {
		return {
			cartItems: [],
			cartTotal: null,
			deliveryDetails: {},
		};
	},
	created() {
		this.cartItems = this.$store.getters.getCartItems;
		this.cartTotal = this.$store.getters.getTotal;
		this.deliveryDetails = this.$store.getters.getDelivery;


		

		let newCart = [];
		for(let item of this.cartItems){
			let stringObject = JSON.stringify(item);
			newCart.push(stringObject);
		}


		Cookie.set('total',this.cartTotal)
		Cookie.set('delivery',JSON.stringify(this.deliveryDetails))
		// Cookie.set('cart',newCart.toString());
		Cookie.set('cart',JSON.stringify(this.cartItems))


	},
};
</script>

<style scoped>
.items {
	border: 1px solid #ccc;
}
li {
	list-style: none;
}
.details,h3,span{
	padding-left: 40px;
}
</style>
