<template>
  <div>
    <app-header></app-header>
    <Nuxt />
  </div>
</template>

<script>
  import TheHeader from '@/components/TheHeader';
  export default{
    components:{
      'app-header':TheHeader
    }
  }
</script>

<style>
  body{
    margin: 0;
    padding: 0;
  }
</style>