<template>
	<div>
		<form @submit.prevent="onLogin">
			<label for="email">Email</label>
			<br>
			<input type="email" id="email" v-model="email">
			<br>
			<label for="password">Password</label>
			<br>
			<input type="password" id="password" v-model="password">
			<br>
			<br>
			<button type="submit">Login</button>
		</form>
	</div>
</template>
<script>
	export default{
		data(){
			return {
				email:'',
				password:'',
				loadedUser:null
			}
		},
		methods:{
			onLogin(){
				let user= {
					email:this.email,
					password:this.password,
					returnSecureToken:true
				}
				this.$store.dispatch('loginUser',user);
			}
		},
	}
</script>

<style scoped>
	div{
		width: 40%;
		margin: 4rem auto;
		text-align: center;
	}
	input{
		width: 70%;
	}
</style>