<template>
	<div class="container">
		<div class="print">
			<span style="flex: 1 auto"></span>
			<button @click="printBill">Print</button>
		</div>

		<hr />
		<div class="header">
			<h4>Goods Service</h4>
			<span style="flex: 1 auto"></span>
			<div class="address">
				{{ deliveryDetails.address }}
			</div>
		</div>
		<hr />
		<div class="content">
			<div>
				<p>{{ deliveryDetails.name }}</p>
				<p><strong>Billing Address:</strong></p>
				<p>{{ deliveryDetails.address }}</p>
				<p>
					{{ deliveryDetails.country }} -
					{{ deliveryDetails.pincode }}
				</p>
			</div>
			<span style="flex: 1 auto"></span>
			<div>
				<p>Date - 22/01/2021</p>
				<p>Invoice No - E-34</p>
			</div>
		</div>
		<div>
			<table>
				<tr>
					<th>Particulars</th>
					<th>Date</th>
					<th>Quantity</th>
					<th>Unit Cost</th>
				</tr>
				<tr v-for="item in cartItems" :key="item.id">
					<td>{{ item.name }}</td>
					<td>22/01/2021</td>
					<td>{{ item.quantity }}</td>
					<td>{{ item.price }}</td>
				</tr>
			</table>
		</div>
		<div class="total">
			<span style="flex: 1 auto"></span>
			<div>
				<p><strong>Sub Total</strong> : Rs{{ cartTotal }}</p>
				<p>
					<strong>VAT @12.5%</strong> : Rs{{
						(cartTotal * 12.5) / 100
					}}
				</p>
				<hr />
				<p>
					<strong>Total</strong> : Rs{{
						cartTotal - (cartTotal * 12.5) / 100
					}}
				</p>
			</div>
		</div>
	</div>
</template>

<script>
import Cookies from "js-cookie";

export default {
	middleware: "check-auth",
	layout: "invoice",
	data() {
		return {
			cartItems: [],
			cartTotal: null,
			deliveryDetails: {},
		};
	},
	beforeMount() {
		this.cartTotal = Cookies.get("total");
		this.deliveryDetails = JSON.parse(Cookies.get("delivery"));
		this.cartItems = JSON.parse(Cookies.get("cart"));
	},
	methods: {
		printBill() {
			window.print();
		},
	},
};
</script>

<style scoped>
.header {
	display: flex;
}
.address {
	margin-top: 23px;
}
.content,
.total,
.print {
	display: flex;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.print {
	margin-top: 1rem;
}

table,
th,
td {
	border: 2px solid black;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}
</style>
